<mat-toolbar color="primary">
  <span>Desafio Indra Company 2019 </span>
  <span class="spacer"></span>
  Import File:
  <button mat-icon-button (click)="import()">
    <mat-icon>file</mat-icon>
  </button>
</mat-toolbar>


